*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-image: url("./images/background_image.jpg");
}
.container{

    margin: 40px;
    background-color: rgba(0,0, 0, 0.3);
}
.formarea{
    width: 330px;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
}
header{
    text-align: center;
}
.title{
    font-size: 40px;
}
span{
    color: red;
}
#button{
    background-color: red;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}
.submit{
margin: 10px auto;
width: 90px;
}
.box{
    color: black;
    height: 2em;
    width: 300px;
}
.textbox{
    color: black;
    resize: none;
    overflow: scroll;
    width: 300px;
}

